#allTask div {
    background-color: #1e1e1e;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(255,255,255,0.1);
}
button {
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background-color: #666;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}


#taskBox {
    background-color: #1e1e1e;   /* dark box */
    color: white;
    width: 400px;
    margin: 20px auto;           /* center horizontally */
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

#allTask div {
    background-color: #2a2a2a;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#taskBox {
    max-height:100px;
    overflow-y: auto;
}


